version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "yearly"
    groups:
      micronaut:
        patterns:
          - "micronaut"
          - "micronaut*"
          - "*micronaut*"
      maven:
        patterns:
          - "*maven*"
          - "maven*"

  - package-ecosystem: "npm"
    directory: "/buy-odd-yucca-gui"
    schedule:
      interval: "yearly"
    groups:
      react:
        patterns:
          - "@react*"
          - "react*"
          - "@types/react*"

  - package-ecosystem: "npm"
    directory: "/e2e"
    schedule:
      interval: "yearly"
