version: 2
jobs:
  build-maven:
    machine:
      image: ubuntu-2204:2023.04.2

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Install SDK 21
          command: wget https://github.com/adoptium/temurin21-binaries/releases/download/jdk-21.0.4%2B7/OpenJDK21U-jdk_x64_linux_hotspot_21.0.4_7.tar.gz &&
            tar -xvf OpenJDK21U-jdk_x64_linux_hotspot_21.0.4_7.tar.gz &&
            sudo mv jdk-21*/ /opt/jdk21 &&
            export JAVA_HOME=/opt/jdk21 &&
            echo "export JAVA_HOME=/opt/jdk21" >> ~/.bashrc &&
            echo "export PATH=$JAVA_HOME/bin:$PATH" >> ~/.bashrc

      - run:
          name: Java Version Check
          command: java -version

      - run:
          name: Maven Clean Install
          command: mvn clean install

  build-yarn:
    docker:
      - image: cimg/node:18.8.0

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          command: yarn --force
          working_directory: buy-odd-yucca-gui

      - run:
          command: yarn
          working_directory: buy-odd-yucca-gui

workflows:
  version: 2
  build_all:
    jobs:
      - build-maven
      - build-yarn
